@font-face { font-family: 'Futura'; src: url(theme/images/Futura-Medium.eot?1500119982); src: url(theme/images/Futura-Medium.eot?#iefix?1500119982) format('embedded-opentype'), url(theme/images/Futura-Medium.woff?1500119982) format('woff'), url(theme/images/Futura-Medium.ttf?1500119982) format('truetype'), url(theme/images/Futura-Medium.svg#6e1e5153b1feaeba3722775467f6cd3b?1500119982) format('svg'); font-style: normal; font-weight: 400; }
 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input { margin: 0; padding: 0; }
 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }
 a { text-decoration: none; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
 html { width: 100%; height: 100%; }
 body { width: 100%; height: 100%; background: #e6e6e6; color: #7c7c7c; font: 17px/1 'Oxygen', sans-serif; font-weight: 400; -webkit-font-smoothing: antialiased; -webkit-overflow-scrolling: touch; }
 .wrapper { position: relative; width: 100%; height: 100%; }
 body:not(.wsite-editor) .wrapper { opacity: 0; }
 body.postload .wrapper { opacity: 1; -webkit-transition: all 0.15s ease-in-out; -moz-transition: all 0.15s ease-in-out; -o-transition: all 0.15s ease-in-out; transition: all 0.15s ease-in-out; }
 .w-navpane-slide { position: relative; width: 100%; box-sizing: border-box; right: 0; padding-left: 0; min-height: 100%; background-color: #e6e6e6; }
 body.postload .page-content.w-navpane-slide { padding-left: 250px; right: 0; }
 body.w-navpane-is-forced .w-navpane-slide { padding-left: 0 !important; }
 #main { background: #fff; }
 #background { position: relative; }
 .container, .wsite-footer { width: 100%; max-width: 1100px; margin: 0 auto; padding: 0 2em; box-sizing: border-box; }
 #header, #banner-wrap, #main, #footer { width: 100%; }
 a { color: #20639c; }
 a:hover { color: #133b5d; }
 h2 { font-size: 1.8em; margin: 0 auto .5em; color: #333333; }
 div.paragraph { line-height: 1.5; margin: 0 auto 1em; }
 p { line-height: 1.5; margin: 0 auto 1em; }
 blockquote { font-size: 1.5em; line-height: 1.5; padding: 0 25px; margin: 1em 0em 1em 1em; border-left: 3px solid #20639c !important; }
 #header { position: absolute; padding: 20px 0px; z-index: 4; }
 #header .container { display: table; }
 #logo, #nav-handle { display: table-cell; vertical-align: middle; }
 #nav-handle { width: 200px; }
 #logo { transition: ease-in all 0.2s; }
 #logo:hover { opacity: 0.8; }
 #wsite-title { color: #fff; font-size: 1.75em; line-height: 1; font-family: 'Pacifico', cursive; }
 .hamburger, #wsite-nav-cart-a { float: right; margin-left: 20px; text-align: right; line-height: 1; vertical-align: top; cursor: pointer; transition: 0.2s ease-in all; }
 .hamburger:before { content: ''; display: block; float: right; width: 14px; height: 11px; margin: 1px 0 0 5px; background: url(theme/images/nav-handle.png?1500119982) no-repeat center center; background-size: contain; }
 .hamburger span { display: block; float: right; color: #fff; text-transform: uppercase; font-size: 14px; line-height: 1 !important; }
 #header label:hover { opacity: 0.8; }
 .wsite-nav-cart { float: right; }
 #wsite-nav-cart-a { display: block; font-size: 0; margin-left: 0; }
 .wsite-nav-cart #wsite-nav-cart-a:after { content: 'CART'; display: block; float: right; color: #fff; font-size: 14px; }
 #wsite-nav-cart-num { position: relative; display: block; float: right; margin-left: 7px; width: 28px; height: 18px; color: #000; font-family: arial; font-size: 11px; text-align: center; z-index: 1; }
 #wsite-nav-cart-num:after { content: ''; display: block; position: absolute; top: -3px; left: -2px; width: 100%; height: 100%; background: url(theme/images/nav-cart.png?1500119982) no-repeat center center; background-size: contain; z-index: -1; }
 #wsite-mini-cart { margin-top: 11px !important; }
 .nav .social { position: absolute; bottom: 24px; left: 0; width: 100%; padding: 0 35px; box-sizing: border-box; }
 .wsite-social { vertical-align: middle !important; white-space: normal !important; }
 .wsite-social-item:before { display: inline-block; width: 16px !important; height: 16px !important; font-size: 16px !important; line-height: 1 !important; text-align: center !important; border-radius: 100% !important; background: #20639c !important; color: #fff !important; }
 .wsite-social-item:before { padding: 8px !important; }
 .wsite-social-item { display: inline-block; margin: 0 4px 4px 0 !important; }
 #wsite-com-product-social-sharing { border-top: 1px solid #ced0d2; padding: 15px 0; }
 .wsite-social-item:hover:before { color: #fff; background: #133b5d; }
 .nav ul li { position: relative; list-style: none; }
 .nav ul li a { display: inline-block; position: relative; font-family: 'Oxygen', sans-serif; color: #999; font-weight: 400; font-size: 15px; line-height: 2; text-transform: uppercase; transition: all ease-in 0.2s; }
 .w-navlist .nav-wrap a { display: block; padding: 0 35px; }
 .nav ul li#active a, .nav ul li a:hover { color: #fff; border: 0; }
 .w-navpane-covering, .w-navpane-is-open .w-navpane-covering { z-index: 2; }
 .w-navpane-is-open #wrapper { overflow: inherit; }
 .nav { height: 100%; padding: 35px 0 80px; background: #212121; box-sizing: border-box; vertical-align: top; overflow-y: auto; -webkit-overflow-scrolling: touch; }
 .w-navpane { position: absolute; display: none; width: 270px; left: auto; right: -270px; z-index: 3; -webkit-transition: left 0.3s ease-in-out, right 0.3s ease-in-out; -moz-transition: left 0.3s ease-in-out, right 0.3s ease-in-out; -o-transition: left 0.3s ease-in-out, right 0.3s ease-in-out; transition: left 0.3s ease-in-out, right 0.3s ease-in-out; }
 .w-navpane-is-forced .w-navpane { display: block; }
 .nav-wrap { height: 100%; padding: 0 35px; overflow-x: hidden; overflow-y: auto; -webkit-overflow-scrolling: touch; }
 .w-navlist { position: fixed; width: 250px; top: 0; left: -250px; z-index: 2; opacity: 0; }
 body.postload:not(.w-navpane-is-forced) .w-navlist { left: 0px; opacity: 1; }
 .w-navlist .nav-wrap { padding: 0; }
 #wsite-menus .wsite-menu li a { font-family: 'Oxygen', sans-serif; font-size: 15px; line-height: 30px; color: #666; background: #212121; border: 0; text-transform: uppercase; }
 #wsite-menus .wsite-menu li a span { padding: 0px 10px; }
 #wsite-menus .wsite-menu li a:hover { color: #fff; background: #212121; }
 .wsite-menu-title, .wsite-menu-back { display: inline-block !important; }
 .wsite-menu-back { padding-left: 16px; }
 body.w-navpane-is-forced .wsite-menu-arrow { display: none !important; }
 .wsite-menu-mobile-arrow { display: inline-block !important; padding: 0 5px; font-size: 24px; line-height: 0; position: absolute; top: 12px; padding-left: 10px; right: -20px; }
 .wsite-menu-mobile-arrow:before { display: inline-block; content: '\203A'; vertical-align: bottom; font-weight: bold; }
 .wsite-menu-back-item { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
 .nav ul li.wsite-menu-back-item a { opacity: 1 !important; color: #fff; background: !important; cursor: pointer; }
 .wsite-menu-back-item .wsite-menu-mobile-arrow { padding-left: 0; left: 0; }
 .wsite-menu-back-item .wsite-menu-mobile-arrow:before { content: '\2039' !important; }
 .wsite-header-section:not(.wsite-section-bg-color) #gradient { position: relative; background-image: linear-gradient(0deg,rgba(81,160,131,0.85) 0%,rgba(57,130,144,0.85) 50%,rgba(32,99,156,0.85) 100%); background-image: -moz-linear-gradient(0deg,rgba(81,160,131,0.85) 0%,rgba(57,130,144,0.85) 50%,rgba(32,99,156,0.85) 100%); background-image: -webkit-linear-gradient(0deg,rgba(81,160,131,0.85) 0%,rgba(57,130,144,0.85) 50%,rgba(32,99,156,0.85) 100%); background-image: -ms-linear-gradient(0deg,rgba(81,160,131,0.85) 0%,rgba(57,130,144,0.85) 50%,rgba(32,99,156,0.85) 100%); background-size: cover; height: 100%; visibility: visible; }
 #banner-wrap { top: 0; height: 100%; z-index: 1; }
 #banner-wrap .container, .splash-page #splash-wrap { display: table; width: 100%; height: 100%; vertical-align: middle; padding-top: 52px; }
 #banner { text-align: left; padding: 50px 0; height: 100%; display: table-cell; vertical-align: middle; }
 #banner h2 { font-family: 'Futura'; color: #fff; font-weight: 500; font-size: 3em; text-transform: uppercase; }
 #banner div.paragraph { font-family: 'Futura'; color: #fff; }
 #banner p { font-family: 'Futura'; color: #fff; }
 #banner .button-wrap { display: inline-block; }
 #banner .wsite-button-normal, .splash-content .wsite-button-normal { background: rgba(255,255,255,0) !important; color: #fff !important; border: 2px solid #fff; }
 #banner .wsite-button-normal:hover, #banner .wsite-button-normal:active, .splash-content .wsite-button-normal:hover, .splash-content .wsite-button-normal:active { color: #20639c !important; background: #fff !important; }
 #banner .wsite-button-highlight, .splash-content .wsite-button-highlight { border: none !important; }
 #banner .wsite-button-highlight:hover, .splash-content .wsite-button-highlight:hover { border: none !important; }
 .wsite-background, .wsite-header-section { width: 100%; background: url(theme/images/background.jpg?1500119982) no-repeat center center; background-size: cover; text-align: left; }
 .wsite-header-section { height: 500px; }
 .wsite-header-section .wsite-section-content { height: 100%; }
 .no-header-page #header { position: relative; }
 .landing-page, .landing-page .wrapper, .landing-page .page-content { height: 100% !important; }
 .landing-page .wsite-header-section { height: 100vh; }
 .landing-page #landing-scroll { position: absolute; display: block; bottom: 3%; left: 50%; width: 44px; height: 44px; margin-left: -24px !important; background: url(theme/images/scroll.png?1500119982) no-repeat center center; opacity: 1; z-index: 11; visibility: visible; cursor: pointer; }
 .splash-page, .splash-page #background { height: 100%; }
 .splash-page #header { position: absolute; }
 body.splash-page .wsite-background { background-attachment: fixed; }
 .splash-page .page-content { height: 100%; display: table; }
 .splash-page #splash-wrap { display: table; vertical-align: middle; width: 100%; height: 100%; box-sizing: border-box; background-image: linear-gradient(0deg,rgba(81,160,131,0.85) 0%,rgba(57,130,144,0.85) 50%,rgba(32,99,156,0.85) 100%); background-image: -moz-linear-gradient(0deg,rgba(81,160,131,0.85) 0%,rgba(57,130,144,0.85) 50%,rgba(32,99,156,0.85) 100%); background-image: -webkit-linear-gradient(0deg,rgba(81,160,131,0.85) 0%,rgba(57,130,144,0.85) 50%,rgba(32,99,156,0.85) 100%); background-image: -ms-linear-gradient(0deg,rgba(81,160,131,0.85) 0%,rgba(57,130,144,0.85) 50%,rgba(32,99,156,0.85) 100%); background-size: cover; }
 .splash-page #main { background: none !important; }
 .splash-page .splash-content { display: table-cell; vertical-align: middle; color: #fff; }
 .splash-content h2 { font-size: 2.75em; color: #fff; font-family: 'Futura'; font-weight: 500; text-transform: uppercase; }
 .splash-content h3 { font-size: 1.66em; color: #fff; font-family: 'Futura'; font-weight: 500; line-height: 1; text-transform: uppercase; }
 .splash-page #footer { display: none; }
 #main .container { padding-top: 50px; padding-bottom: 50px; }
 #wsite-com-product-info { text-align: left; }
 .wsite-com-category-subcategory-group + div { margin-bottom: 2em !important; }
 .wsite-com-category-subcategory-name-bg { background: #000; opacity: 0.7; -webkit-transition: all 200ms cubic-bezier(0.55,0.085,0.68,0.53) !important; -moz-transition: all 200ms cubic-bezier(0.55,0.085,0.68,0.53) !important; -o-transition: all 200ms cubic-bezier(0.55,0.085,0.68,0.53) !important; -ms-transition: all 200ms cubic-bezier(0.55,0.085,0.68,0.53) !important; transition: all 200ms cubic-bezier(0.55,0.085,0.68,0.53) !important; }
 .wsite-com-category-subcategory-link:hover .wsite-com-category-subcategory-name-bg { opacity: 0; }
 #wsite-com-category-product-group a { -webkit-tap-highlight-color: rgba(0,0,0,0); }
 .wsite-com-category-subcategory-image { min-width: 110% !important; min-height: 100% !important; left: -5% !important; -webkit-transition: all 200ms cubic-bezier(0.55,0.085,0.68,0.53) !important; -moz-transition: all 200ms cubic-bezier(0.55,0.085,0.68,0.53) !important; -o-transition: all 200ms cubic-bezier(0.55,0.085,0.68,0.53) !important; -ms-transition: all 200ms cubic-bezier(0.55,0.085,0.68,0.53) !important; transition: all 200ms cubic-bezier(0.55,0.085,0.68,0.53) !important; }
 .wsite-com-category-subcategory-link:hover .wsite-com-category-subcategory-image { left: 0% !important; }
 .wsite-com-category-product-image-wrap, .wsite-com-category-product-featured-image-wrap, .wsite-com-category-subcategory-image-wrap { border: none !important; }
 .wsite-com-category-subcategory-name-text { text-transform: uppercase; text-shadow: none; vertical-align: middle; display: inline-block; font-size: 1.25em; font-weight: bold; box-sizing: border-box; width: 96%; }
 .wsite-com-category-subcategory-name:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
 .wsite-com-category-subcategory-name { text-align: center; height: 100%; width: 100%; display: inline-block; -webkit-transition: all 200ms cubic-bezier(0.55,0.085,0.68,0.53) !important; -moz-transition: all 200ms cubic-bezier(0.55,0.085,0.68,0.53) !important; -o-transition: all 200ms cubic-bezier(0.55,0.085,0.68,0.53) !important; -ms-transition: all 200ms cubic-bezier(0.55,0.085,0.68,0.53) !important; transition: all 200ms cubic-bezier(0.55,0.085,0.68,0.53) !important; }
 .wsite-com-category-product-name { font-family: 'Oxygen', sans-serif; font-size: .9em; font-weight: 700; letter-spacing: 0.5px; margin-bottom: 10px; }
 .wsite-com-product-price { font-family: 'Oxygen', sans-serif; font-size: .75em; font-weight: 400; letter-spacing: 0.5px; }
 #wsite-com-product-price-area .wsite-com-product-price-container { font-size: 1em; }
 .wsite-com-product-label { margin-bottom: 0 !important; }
 .wsite-com-product-label, .wsite-com-product-label ~ *, .wsite-com-product-label ~ .wsite-form-input { display: inline-block; width: 49% !important; vertical-align: middle; }
 .wsite-com-product-label ~ .wsite-com-product-option-label { clear: right; float: right; margin: 0 0 5px; }
 .wsite-com-product-title { font-size: .8em !important; text-transform: uppercase; }
 .wsite-com-product-option:after { content: ''; clear: right; display: block; }
 #wsite-com-product-title { font-family: 'Oxygen', sans-serif; font-size: 2em; font-weight: 700; margin-bottom: 10px; }
 #wsite-com-product-quantity-input { margin-right: 0 !important; -webkit-transition: opacity ease-in; -webkit-transition-delay: 0.2s; -moz-transition: opacity ease-in .2s, border ease-in .2s; -o-transition: opacity ease-in .2s, border ease-in .2s; transition: opacity ease-in .2s, border ease-in .2s; }
 #wsite-com-product-price-area { font-family: 'Oxygen', sans-serif; font-size: 1.4em; font-weight: 700; color: 717171; border-bottom: none; padding-bottom: 0 !important; }
 #wsite-com-product-short-description { font-size: .8em !important; }
 #wsite-com-product-list #wsite-com-title { border-bottom: 1px solid #ced0d2; padding-bottom: .25em; margin-bottom: 1em; }
 #wsite-com-product-options { border-top: 1px solid #ced0d2; margin-top: 0; }
 .wsite-com-product-option { border-bottom: 1px solid #ced0d2; padding-bottom: 15px; }
 #wsite-com-product-inventory { border-bottom: 1px solid #ced0d2; padding-bottom: 15px; }
 #wsite-com-product-buy { padding-top: 35px; }
 #wsite-com-product-add-to-cart { width: 100%; transition: all ease-in 0.2s; }
 #wsite-com-product-add-to-cart:focus { outline: none; }
 #wsite-com-product-add-to-cart .wsite-button-inner { text-align: center; width: 100%; box-sizing: border-box; }
 .wsite-com-product-option-color .wsite-com-product-option-color-container { border-radius: 40px; box-shadow: none; outline: none; }
 .wsite-com-product-option-color .wsite-com-product-option-color-swatch { border-radius: 40px; border: 4px solid #fff; box-shadow: none; outline: none; }
 .wsite-com-product-option-color .wsite-selected { border: 4px solid #ced0d2; }
 .wsite-com-link-text.wsite-selected { font-weight: 700; }
 .wsite-com-product-option-radio .wsite-com-product-option-label-unavailable .wsite-com-product-option-radio-availability { font-size: 80%; }
 #wsite-com-hierarchy .wsite-link-unselected { color: #20639c; font-size: 0.9em; }
 #wsite-com-hierarchy .wsite-link-unselected:hover { color: #133b5d; }
 .wsite-com-category-product-wrap, .wsite-com-category-product-featured { text-align: center; }
 .wsite-com-category-product-group .wsite-com-column { height: auto !important; }
 #wsite-com-breadcrumbs.wsite-com-product-breadcrumbs .wsite-com-breadcrumb, #wsite-com-breadcrumbs.wsite-com-category-breadcrumbs .wsite-com-breadcrumb { font-size: 0.8em; }
 .add-to-cart { visibility: hidden; opacity: 0; font-size: 14px; padding: 10px 0; text-align: right; color: #7E7E7E; -webkit-transition: all 0.5s ease-in; -moz-transition: all 0.5s ease-in; -o-transition: all 0.5s ease-in; transition: all 0.5s ease-in; }
 .add-to-cart.show { visibility: visible; opacity: 1; }
 .wsite-com-product-option-swatches { margin-left: -3px; }
 .wsite-com-product-label ~ * { width: 50% !important; }
 .wsite-menu-default { padding: 0; margin: 0; }
 .wsite-custom-minicart-wrapper { list-style-type: none; display: inline-block; float: right; }
 #wsite-com-checkout-list { font-size: 14px; line-height: 22px; }
 #wsite-com-checkout-list tbody td: nth-child(even) { padding-right: 8px !important; padding-left: 8px !important; }
 #wsite-com-checkout-list .wsite-remove-button, #wsite-com-checkout-summary-list .wsite-remove-button { left: auto !important; margin-left: 0 !important; }
 .wsite-com-continue-shopping:hover, .wsite-com-continue-shopping:active { text-decoration: none; }
 .wsite-com-continue-shopping .caret { line-height: 1.75 !important; }
 .galleryCaptionHolderInnerBg { opacity: 0.6; -webkit-transition: all 400ms cubic-bezier(0.55,0.085,0.68,0.53) !important; -moz-transition: all 400ms cubic-bezier(0.55,0.085,0.68,0.53) !important; -o-transition: all 400ms cubic-bezier(0.55,0.085,0.68,0.53) !important; -ms-transition: all 400ms cubic-bezier(0.55,0.085,0.68,0.53) !important; transition: all 400ms cubic-bezier(0.55,0.085,0.68,0.53) !important; }
 .galleryImageHolder:hover .galleryCaptionHolderInnerBg { opacity: 0.2; }
 .imageGallery .galleryCaptionInnerText div.paragraph, .imageGallery .galleryCaptionInnerText { color: white; font-family: 'Oxygen', sans-serif; font-size: 1em; font-weight: 600; letter-spacing: 0.2px; line-height: 1.25; padding-top: 30px; -webkit-transition: all 400ms cubic-bezier(0.55,0.085,0.68,0.53) !important; -moz-transition: all 400ms cubic-bezier(0.55,0.085,0.68,0.53) !important; -o-transition: all 400ms cubic-bezier(0.55,0.085,0.68,0.53) !important; -ms-transition: all 400ms cubic-bezier(0.55,0.085,0.68,0.53) !important; transition: all 400ms cubic-bezier(0.55,0.085,0.68,0.53) !important; }
 .imageGallery .galleryCaptionInnerText p, .imageGallery .galleryCaptionInnerText { color: white; font-family: 'Oxygen', sans-serif; font-size: 1em; font-weight: 600; letter-spacing: 0.2px; line-height: 1.25; padding-top: 30px; -webkit-transition: all 400ms cubic-bezier(0.55,0.085,0.68,0.53) !important; -moz-transition: all 400ms cubic-bezier(0.55,0.085,0.68,0.53) !important; -o-transition: all 400ms cubic-bezier(0.55,0.085,0.68,0.53) !important; -ms-transition: all 400ms cubic-bezier(0.55,0.085,0.68,0.53) !important; transition: all 400ms cubic-bezier(0.55,0.085,0.68,0.53) !important; }
 .galleryImageHolder:hover .galleryCaptionInnerText div.paragraph, .galleryImageHolder:hover .galleryCaptionInnerText, .galleryCaptionsVisible .galleryCaptionInnerText { padding-top: 0; }
 .galleryImageHolder:hover .galleryCaptionInnerText p, .galleryImageHolder:hover .galleryCaptionInnerText, .galleryCaptionsVisible .galleryCaptionInnerText { padding-top: 0; }
 .galleryCaptionHover .galleryCaptionHolder { opacity: 1; }
 .galleryCaptionHover .galleryCaptionHolderInnerBg { opacity: .4; }
 .galleryCaptionHover .galleryCaptionInnerTextHolder { opacity: 0; -webkit-transition: all 400ms cubic-bezier(0.55,0.085,0.68,0.53) !important; -moz-transition: all 400ms cubic-bezier(0.55,0.085,0.68,0.53) !important; -o-transition: all 400ms cubic-bezier(0.55,0.085,0.68,0.53) !important; -ms-transition: all 400ms cubic-bezier(0.55,0.085,0.68,0.53) !important; transition: all 400ms cubic-bezier(0.55,0.085,0.68,0.53) !important; }
 .galleryCaptionHover.galleryImageHolder:hover .galleryCaptionInnerTextHolder { opacity: 1; }
 .fancybox-skin { border-radius: 0; }
 .fancybox-title { font-size: 16px; line-height: 24px; font-family: 'Oxygen', sans-serif; }
 .blog-post .blog-header { margin-bottom: 15px !important; }
 .blog-header h2, .blog-post .blog-header h2.blog-title, .blog-header h2 a { font-size: 1.3em; line-height: 1 !important; margin: 0 0 .5em !important; }
 .blog-header h2 a { color: #414141; margin-bottom: 10px !important; display: block; }
 .blog-post .blog-date { font-size: 15px; }
 .blog-post .blog-comments { float: left; font-size: 15px; border-left: 1px solid #999; padding-left: 9px !important; }
 #commentAreaTitle { font-weight: 400; font-sze: 22px; line-height: 24px; font-family: 'Oxygen', sans-serif; margin: 10px 0 20px; padding: 0; }
 .blog-sidebar h2 { color: #333; font-size: 22px; line-height: 26px; font-weight: 400; }
 .blog-sidebar div.paragraph { color: #666; font-size: 16px; line-height: 26px; }
 .blog-sidebar p { color: #666; font-size: 16px; line-height: 26px; }
 .blog-archive-list a { height: 30px; line-height: 30px; display: block; font-size: 16px; margin-bottom: 10px; }
 .blog-archive-list br { display: none; }
 .blog-separator { display: none; }
 .blogCommentAuthor, .blogCommentHeadingInner, .blogCommentHeading { background: none !important; }
 .blogCommentWrap { background: none !important; }
 .blogCommentHeading { margin-bottom: 0px; }
 .blogCommentHeading .blogCommentDate { color: #999 !important; float: left; font-size: .75em; line-height: 34px; padding: 0 9px 0 10px; }
 .wsite-theme-dark .blogCommentHeading .blogCommentAuthor span.name, .wsite-theme-dark .blogCommentHeading .blogCommentAuthor a.name, .blogCommentHeading .blogCommentAuthor span.name, .blogCommentHeading .blogCommentAuthor a.name { color: #20639c !important; text-shadow: none !important; font-size: 18px !important; line-height: 30px !important; font-weight: 400 !important; }
 .blogCommentText div.paragraph { color: #999 !important; font-size: 16px; line-height: 26px; }
 .blogCommentText p { color: #999 !important; font-size: 16px; line-height: 26px; }
 .blog-button { color: #fff !important; font-family: 'Oxygen', sans-serif; height: auto; line-height: 1; display: block; font-size: 13px; font-weight: 400; text-decoration: none; padding: 12px 22px; background: #20639c; border-radius: 6px; text-transform: uppercase; }
 .blog-button span { background: none; float: left; height: 100%; margin: 0 0 0 7px; }
 .blogCommentReplyWrapper { height: 550px; }
 .blogCommentReplyWrapper iframe { height: 500px; }
 .blogCommentSubreplyWrapper div.iframeWrapper { background: #f9f9f9 !important; border: none !important; }
 #commentPostDiv .field label { color: #999 !important; font-weight: 400; font-sze: 16px; line-height: 24px; font-family: 'Oxygen', sans-serif; margin: 0px; }
 #commentPostDiv .field input[type="text"] { font-family: 'Oxygen', sans-serif; background: #ebebeb !important; border: 1px solid #ebebeb; height: 29px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; outline: none; }
 #commentPostDiv .field textarea { font-family: 'Oxygen', sans-serif; background: #ebebeb !important; border: 1px solid #ebebeb; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; outline: none; }
 #footer { background: #e6e6e6; padding: 40px 0px; line-height: 24px; }
 #footer .container { font-size: .85em; }
 #footer-wrap .container > div { top: auto !important; }
 #footer .container h2 { font-size: 1.25em; }
 #footer .wsite-form-container { text-align: left; }
 .formlist, .wsite-editor .formlist { min-height: 0 !important; }
 #main .wsite-form-field { padding-bottom: 10px; }
 .wsite-form-field { max-width: 500px; }
 .wsite-form-label, .form-radio-container label { display: inline-block; color: #626262; font-size: .9em; font-weight: 400 !important; padding: 0px; margin-bottom: 5px; }
 .form-radio-container input { display: none !important; }
 .form-radio-container input:checked ~ label:before { background: #20639c; }
 .form-radio-container label:before { color: transparent; border: 5px solid #EBEBEB; background: #EBEBEB; content: ""; padding: 0px; width: 12px; height: 12px; margin-right: 5px; display: inline-block; vertical-align: middle; -webkit-transition: all 150ms cubic-bezier(0.55,0.085,0.68,0.53); -moz-transition: all 150ms cubic-bezier(0.55,0.085,0.68,0.53); -o-transition: all 150ms cubic-bezier(0.55,0.085,0.68,0.53); -ms-transition: all 150ms cubic-bezier(0.55,0.085,0.68,0.53); transition: all 150ms cubic-bezier(0.55,0.085,0.68,0.53); }
 .form-radio-container input[type="radio"] + label:before { border-radius: 100%; }
 select { font-size: 0.9em; padding: 10px; border: 2px solid rgba(235,235,235,0.8); background: url(theme/images/select.png?1500119982) no-repeat 99% 16px; height: auto !important; outline: none; -webkit-appearance: none !important; -moz-appearance: none !important; appearance: none !important; }
 .form-required { color: #20639c; font-size: .9em !important; }
 .wsite-form-input, .wsite-search-element-input { position: relative; width: 100% !important; box-sizing: border-box; font-size: .9em; color: #626262; background: rgba(235,235,235,0.8); border: transparent 2px solid; padding: 8px !important; line-height: 1.5; border-radius: 4px; outline: none; transition: 0.2s all ease-in; }
 .wsite-form-input:focus, .wsite-form-input--focus, .wsite-search-element-input:focus { border: 2px solid #20639c; background: rgba(235,235,235,0.6); }
 .wsite-com-product-label ~ * { font-size: .9em; }
 .wsite-form-sublabel { text-transform: uppercase; padding-top: 5px; }
 #wsite-search-query { border-radius: 4px; background: rgba(235,235,235,0.8); border: none; font-size: 1em; color: #626262; border: 2px solid rgba(235,235,235,0.8); transition: 0.2s all ease-in; }
 #wsite-search-query:focus { outline: none; border: 2px solid #20639c; }
 #wsite-search-header h2 { font-size: 2em; font-weight: 700; }
 #wsite-search-sidebar .wsite-search-filter-entries li, #wsite-search-sidebar .wsite-search-facet-entries li, #wsite-search-sidebar .wsite-search-facet-price form li { font-size: 0.8em; }
 .wsite-form-input, .wsite-search-element-input, .form-select { margin: 7px 0 0; }
 #wsite-search-submit { border-left: none; }
 #footer .wsite-form-label, #footer.form-radio-container label { color: #626262; margin-bottom: 2px; }
 #footer .wsite-form-input, #footer .wsite-search-element-input { background: #fff; }
 #footer .form-select { color: #626262 !important; background: #fff !important; }
 .wsite-button { display: inline-block; padding: 0px; font-size: .8em !important; padding: .85em 1.5em !important; border-radius: 6px; max-width: 100%; color: #fff !important; background: #20639c !important; height: auto !important; line-height: 1 !important; box-sizing: border-box; transition: all 0.2s ease-in-out; }
 .wsite-button-inner { color: inherit !important; background: none !important; padding: 0 !important; line-height: 1 !important; height: auto !important; font-family: 'Oxygen', sans-serif; display: block; font-size: 1em; font-weight: 600; text-decoration: none; text-transform: uppercase; }
 .wsite-button:hover, .wsite-button:active { background: #297ec6 !important; }
 .wsite-button-large { color: #fff; padding: 0px; font-weight: 400; text-decoration: none; font-size: 1em !important; padding: .85em 1.8em !important; }
 .wsite-button-large:hover .wsite-button-inner { background: #297ec6; }
 .wsite-button-large:active .wsite-button-inner { background: #297ec6; }
 .wsite-button-highlight, .wsite-editor .wsite-button-highlight { background: none; background: #fff !important; border: 2px solid #20639c; }
 .wsite-button-highlight .wsite-button-inner { color: #20639c !important; font-family: 'Oxygen', sans-serif; font-weight: 400; text-decoration: none; }
 .wsite-button-highlight:hover, .wsite-button-highlight:active .wsite-button-inner { background: BtnHighlightHover !important; }
 .wsite-button-highlight:hover .wsite-button-inner, .wsite-button-highlight:active .wsite-button-inner { color: #fff !important; }
 #wsite-com-store #close { display: none; }
 @media (max-width: 1024px) {
 body { font-size: 16px; }
 .wsite-logo a img { margin: 0 !important; }
 .w-navpane-slide { padding-left: 0 !important; }
 .w-navlist { display: none; }
 .w-navpane-trigger { display: block; }
 .wsite-button-inner { line-height: 1.15 !important; white-space: normal !important; }
 #header { padding: 15px 0; }
 #nav-handle { padding-top: 2px; }
 #wsite-title { height: auto !important; }
 .hamburger span { display: none; }
 .hamburger:before { width: 20px; height: 16px; background-size: 100% 100%; }
 #wsite-nav-cart-num:after { top: -1px; left: -3px; }
 #wsite-nav-cart-num { width: 28px; height: 18px; padding: 3px 0 0; }
 #header td { vertical-align: middle; }
 }
 @media (max-width: 767px) {
 body { font-size: 13px; }
 .wsite-section-elements { overflow: hidden; }
 .wsite-multicol-col { max-width: 100% !important; display: block; width: auto !important; margin: 0 auto 1em !important; }
 .container { padding-left: 1.5em; padding-right: 1.5em; }
 .imageGallery > div, .imageGallery > div > div { width: 100% !important; margin-left: 0 !important; margin-right: 0 !important; }
 body:not(.landing-page) .wsite-header-section { height: 230px !important; }
 #main .wsite-section { height: auto !important; }
 #banner { text-align: center !important; padding: 60px 0; }
 #banner font { font-size: inherit !important; }
 h2 { font-size: 1.25em; }
 h2, .splash-page h2 { font-size: 2em !important; }
 h2 .wsite-headline, div.paragraph .wsite-headline-paragraph { font-size: inherit !important; line-height: inherit !important; }
 h2 .wsite-headline, p .wsite-headline-paragraph { font-size: inherit !important; line-height: inherit !important; }
 #footer.footer-full { margin-bottom: 40px; }
 .wsite-form-label, .form-radio-container label { line-height: 2; }
 .wsite-com-sidebar, #wsite-com-product-images { width: 100%; text-align: center; padding: 0; float: none; }
 #wsite-com-store .wsite-com-category-subcategory-group .wsite-com-column { width: 100% !important; }
 #wsite-com-store .wsite-com-category-product-featured-group .wsite-com-column, #wsite-com-store .wsite-com-category-product-group .wsite-com-column { width: 50% !important; }
 .wsite-com-category-subcategory-name-text { font-size: 1.25em !important; }
 .wsite-com-content-with-sidebar, #wsite-com-product-info { margin-left: 0; padding: 0; clear: both; }
 #wsite-com-product-images-strip .wsite-com-product-images-secondary { margin-top: 0; }
 #wsite-com-product-images-strip { overflow: hidden; }
 .wsite-com-product-price, .wsite-com-category-product-name { font-size: 1em; margin: 3px 0 0; text-align: center; }
 .wsite-com-category-product-name { padding-top: 10px; }
 .wsite-com-product-label, .wsite-com-product-label ~ *, .wsite-com-product-label ~ .wsite-form-input { display: block; width: 100% !important; margin-bottom: 5px !important; }
 .wsite-com-content { padding: 0 !important; }
 #wsite-com-product-info { padding-top: 25px; }
 #wsite-mini-cart .wsite-product-list { display: none !important; }
 #wsite-mini-cart { width: 275px !important; }
 #nav-handle { width: 100px; }
 #wsite-nav-cart-a:after { display: none !important; }
 #wsite-com-checkout-list .wsite-com-checkout-item-image, #wsite-com-checkout-summary-list .wsite-com-checkout-item-image { max-width: 50px; max-height: 50px; margin-right: 10px; }
 h2.wsite-checkout-header { padding-bottom: 0 !important; }
 #wsite-com-checkout-list .wsite-com-checkout-item-image, #wsite-com-checkout-summary-list .wsite-com-checkout-item-image { max-width: 50px; max-height: 50px; margin-right: 10px; }
 #wsite-com-checkout-list .wsite-com-checkout-item-details-inner, #wsite-com-checkout-summary-list .wsite-com-checkout-item-details-inner { padding-left: 0 !important; }
 #wsite-com-checkout-list { font-size: .75em !important; }
 .wsite-com-continue-shopping, button.wsite-button.wsite-button-large.wsite-button-highlight.wsite-checkout-button.wsite-com-paypal-checkout-button { font-size: .85em !important; }
 #wsite-com-checkout-list .wsite-coupon-input, #wsite-com-checkout-summary-list .wsite-coupon-input { width: 120px !important; margin: 0; }
 #wsite-com-checkout-list .wsite-form-input: not(.wsite-coupon-input), #wsite-com-checkout-summary-list .wsite-form-input: not(.wsite-coupon-input) { width: 30px !important; margin: 0 10px !important; padding: 5px !important; }
 #wsite-com-checkout-list .wsite-remove-button, #wsite-com-checkout-summary-list .wsite-remove-button { top: 10px !important; }
 #wsite-com-checkout-list .wsite-com-checkout-item-heading a, #wsite-com-checkout-summary-list .wsite-com-checkout-item-heading a { font-weight: 700; }
 .wsite-com-checkout-item-variations { font-size: 14px; line-height: 20px; }
 .wsite-checkout-type .wsite-paypal { margin-left: 0; margin-top: 10px; }
 #wsite-com-checkout-payment > div { width: 100%; }
 #wsite-com-checkout-payment-order { margin: 0; padding: 15px; }
 .wsite-com-continue-shopping .caret { line-height: 2.35 !important; }
 #wsite-com-checkout .wsite-button-inner { font-size: 14px; line-height: 22px; padding: 5px 25px; }
 #wsite-com-checkout .wsite-button { margin-top: 0 !important; }
 .wsite-com-category-product-featured { margin-bottom: 40px; }
 #blogTable tbody > tr > td { display: block !important; }
 .column-blog { width: 100%; }
 .blog-sidebar-separator { padding: 0; }
 .blogCommentText, .blogCommentHeading, .blogCommentHeading .blogCommentAuthor { padding: 0 !important; }
 .blogCommentLevel1 { margin-left: 15px !important; }
 .blogCommentLevel2 { margin-left: 30px !important; }
 .wsite-blog-post .blog-sidebar { display: none; }
 .wsite-com-column-group.wsite-com-category-product-featured-group .wsite-com-column { width: 100% !important; }
 .wsite-com-content { width: 100%; margin-left: 0; }
 .wsite-com-category-subcategory-name-text { font-size: 0.8em; }
 .wsite-com-column-group.wsite-com-category-subcategory-group .wsite-com-column { width: 100% !important; }
 .wsite-com-category-subcategory-name { top: 0; }
 #wsite-com-store #wsite-com-hierarchy ul .wsite-com-link-text { font-size: 0.8em; }
 #wsite-com-store .wsite-com-sidebar { width: 100%; float: none !important; padding: 5px 0 0 !important; text-align: center; position: relative; z-index: 12; margin: 0 auto 15px; cursor: pointer; min-height: 35px; }
 #wsite-com-store .wsite-com-sidebar { width: 100%; float: none !important; padding: 5px 0 0 !important; text-align: center; position: relative; z-index: 10; margin: 0 auto 15px; cursor: pointer; min-height: 35px; }
 #wsite-com-store .wsite-com-sidebar: :after { content: 'VIEW ALL CATEGORIES \25be'; padding: 0; text-align: center; font-weight: 900 !important; text-transform: uppercase; color: white; background: #20639c; clear: both; width: 100%; display: block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 120ms cubic-bezier(0.55,0.085,0.68,0.53); -moz-transition: all 120ms cubic-bezier(0.55,0.085,0.68,0.53); -o-transition: all 120ms cubic-bezier(0.55,0.085,0.68,0.53); -ms-transition: all 120ms cubic-bezier(0.55,0.085,0.68,0.53); transition: all 120ms cubic-bezier(0.55,0.085,0.68,0.53); padding: 10px 0; }
 #wsite-com-store .sidebar-expanded: :after { display: none; }
 #wsite-com-store .sidebar-expanded { cursor: default !important; }
 #wsite-com-store .wsite-com-content-with-sidebar { margin-left: 0 !important; padding: 0 !important; }
 #wsite-com-store .wsite-com-sidebar #wsite-com-hierarchy > ul { top: 0; left: 0; width: 100%; padding: 3.5em 0 1.75em !important; background: #20639c; border-bottom: 4px solid white; }
 #wsite-com-store .wsite-com-sidebar #wsite-com-hierarchy { position: absolute; width: 100%; max-height: 0px; overflow: hidden; margin: 0 auto .25em; display: block; -webkit-transition: border-color 120ms cubic-bezier(0.55,0.085,0.68,0.53), max-height 350ms cubic-bezier(0.445,0.05,0.55,0.95); -moz-transition: border-color 120ms cubic-bezier(0.55,0.085,0.68,0.53), max-height 350ms cubic-bezier(0.445,0.05,0.55,0.95); -o-transition: border-color 120ms cubic-bezier(0.55,0.085,0.68,0.53), max-height 350ms cubic-bezier(0.445,0.05,0.55,0.95); -ms-transition: border-color 120ms cubic-bezier(0.55,0.085,0.68,0.53), max-height 350ms cubic-bezier(0.445,0.05,0.55,0.95); transition: border-color 120ms cubic-bezier(0.55,0.085,0.68,0.53), max-height 350ms cubic-bezier(0.445,0.05,0.55,0.95); }
 #wsite-com-store .wsite-com-sidebar:hover #wsite-com-hierarchy { max-height: 2px; border-color: ; }
 #wsite-com-store .sidebar-expanded #wsite-com-hierarchy { max-height: 2000px !important; }
 #wsite-com-store #close { position: absolute; z-index: 12; width: 100%; top: 0px; text-align: center; font-weight: 900 !important; text-transform: uppercase; color: white; display: block; padding: 10px 0; border-bottom: none; }
 #wsite-com-store .wsite-com-sidebar #wsite-com-hierarchy a, #wsite-com-store .wsite-com-sidebar #wsite-com-hierarchy { color: white; }
 #wsite-com-store #close { display: block; }
 #wsite-com-product-info { margin-left: 0; }
 #wsite-com-product-info-inner { padding-top: 20px; }
 }

div.paragraph ul, div.paragraph ol { padding-left: 3em !important; margin: 5px 0 !important; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
